<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/medico">Médicos</a><br>
    <a href="/medico/novo">Cadastrar Médico</a><br><br>
    <a href="/especialidade">Especialidades</a><br>
    <a href="/especialidade/novo">Cadastrar Especialidade</a><br><br>
    <a href="/paciente">Pacientes</a><br>
    <a href="/paciente/novo">Cadastrar Paciente</a><br><br>
    <a href="/consulta">Consultas</a><br>
    <a href="/consulta/novo">Cadastrar Consulta</a><br><br>
</body>
</html>