<!DOCTYPE html>
<html>
<head>
    <title>Tela principal</title>
</head>
<body>
    <h1>Tela principal</h1>
    <nav>
        <a href="/pessoas">Listar pessoas</a>
        <a href="/pessoas/nova">Cadastrar pessoa</a>
    </nav>
</body>
</html>